@tailwind base;
@tailwind components;
@tailwind utilities;

/* Extra Animations */
@keyframes gradient-slow {
  0%,100%{background-position:0% 50%}
  50%{background-position:100% 50%}
}
.animate-gradient-slow{
  background-size:200% 200%;
  animation:gradient-slow 15s ease infinite;
}
@keyframes pulse-slow{
  0%,100%{transform:scale(1)}
  50%{transform:scale(1.05)}
}
.animate-pulse-slow{
  animation:pulse-slow 6s ease-in-out infinite;
}
